body,
button {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    background-color: #E2DAD6;
}

.title{
    font-family: Lucida Bright;
    text-align: left;
    background-color:#6482AD;
    color: white;
    padding: 10px 15px 40px;
    margin: -10px -10px 90px;
}

span{
    font-size: medium;
    padding-left: 550px;
    font-weight: 100;
}

.container{
    background-color: #7FA1C3;
    width: 600px;
    margin: 0 auto;
    padding: 30px;
}


.frame-one,
.frame-two,
.frame-three{
    box-sizing: border-box;
    border: solid #0000a5;
    border-width: 3px;
    width: 500px;
    height: auto;
    padding: 10px;
    background-color: #e5e5f6;
    font-size: 18px;
    font-weight: 250;
}


.frame-one{
    margin: 10px 10px 10px;
}

.frame-two{
    margin: 10px;
}


.frame-three{
    margin: 10px;
}

li {
    list-style-type: none;
    
}

.image-container {
    text-align: center;
}

.ingredients li {
    margin-bottom: 10px;
}

.steps li {
    margin-bottom: 15px;
}

button {
    margin-top: 30px;
    font-size: 17px;
    font-weight: bold;
    background-color:#b5b5b5;
    color: black;
    text-decoration: none;
}

.custom-link:visited {
    color: inherit;
}


.warning-note{
    text-decoration: underline;
    border: solid ;
    width: 450px;
    height: auto;
    margin: 0 auto;
    padding: 5px;
}